body {
            font-family: "Segoe UI", sans-serif;
            background-color: #f8f9fa;
        }

        /* Navbar */
        .navbar {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }
        .bg-custom{
            background-color: #b69d51;
        }

        .nav-link:hover {
            color: #1a0cb2 !important;
        }

        /* Section title */
        .section-title {
            font-size: 2rem;
            font-weight: bold;
            color: #06283D;
            border-left: 6px solid #1363DF;
            padding-left: 10px;
        }

        /* Cards */
        .card {
            border: none;
            transition: 0.3s ease;
        }

        .card:hover {
            transform: translateY(-6px);
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
        }

        /* Gallery images */
        .gallery img {
            border-radius: 10px;
            transition: 0.3s;
        }

        .gallery img:hover {
            transform: scale(1.06);
        }

        /* Recruiter logos */
        .recruiter-logo {
            filter: grayscale(100%);
            transition: 0.3s;
        }

        .recruiter-logo:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }

        /* Footer */
        footer {
            background: #06283D;
            color: white;
        }